
body, html {
    background-color:#EBECF0
  }

  body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    
}


div, p {
    color: #BABECC;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
  
  }
  
  

    
    form {
        padding: 16px;
        width: 16px*20;
        margin: 0 auto;
      }



 

  button {
    color:#61677C;
    font-weight: bold;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
  }
    

  .segment {
    padding: 16px*2 0;
    text-align: center;
  }
  

  label {
    display: block;
    margin-bottom: 16px*1.5;
    width: 100%;
  }
  
input {
    margin-right: 16px/2;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  
  }